* {
  box-sizing: border-box;
  font-family: serif;
}

body {
	background-color: black;
	text-align: center;
	display: block;
	width: 75%;
	margin: auto;
	margin-bottom: 30px;
}

header {
	background-color: white;
	font-size: 4vw;
	margin: 30px 0 30px 0;
}

.home {
	margin: auto;
}

.quizContainer {
	display: flex;
	padding: 40px 40px 40px 40px;
	background-color: white;
	font-weight: bold;
	font-size: 4vw;
	border: solid black 2px;
	border-radius: 10px;
	margin: 30px 0 30px 0;
}

#quizcard {
	font-size: 4vw;
	width: 100%;
}

#homeIMG {
	width: 80%;
}

button {
	background-color: lightgray;
	font-weight: bold;
	font-size: 3vw;
	cursor: pointer;
	padding: 5px;
}

.hidden {
	display: none;
}

form {
	text-align: left;
	margin-bottom: 50px;
}

#submitAnswer {
	float:left;
	background-color: lightgray;
	font-weight: bold;
	font-size: 3vw;
	padding: 5px;
}

.questionInfo {
	float: right;
	font-size: 3vw;
	padding: 5px;
}

#feedback {
	font-size: 3vw;
	margin: auto;
}

.buttonFeedback {
	font-size: 3vw;
}

#imgFeedback {
	width: 80%;
}

#finalResults {
	margin: auto;
}

#resultsImage {
	width: 100%;
}

@media only screen and (min-width: 640px) {

  header {
  	font-size: 35px;
  }

  .quizContainer {
  	font-size: 25px;
  }

  #homeIMG {
    width: 350px;
  }
  
  #quizcard {
	font-size: 2vw;
  }
 
  button {
  	font-size: 20px;
  }

  #submitAnswer {
  	font-size: 2vw;
  }

  .questionInfo {
  	font-size: 2vw;
  }

  #feedback {
  	font-size: 25px;
  }

  .buttonFeedback {
  	font-size: 25px;
  }

  #imgFeedback {
	width: 400px;
	height: 400px;
  }

}
