* {
  box-sizing: border-box;
  font-family: serif;
}

body {
	background-color: black;
	text-align: center;
	display: block;
	width: 75%;
	margin: auto;
	margin-bottom: 30px;
	max-width: 900px;
}

header {
	background-color: white;
	font-size: 4vw;
	margin: 30px 0 30px 0;
}

.home {
	margin: auto;
}

.questionText {
	font-size: 20px;
}

span {
	font-size: 20px;
}

.questionInfo span {
	font-size: 15px;
}

.quizContainer {
	display: flex;
	padding: 40px 0px;
	background-color: white;
	font-weight: bold;
	font-size: 20px;
	border: solid black 2px;
	border-radius: 10px;
	margin: 30px 0 30px 0;
}

#quizCard {
	font-size: 4vw;
	width: 90%;
	margin: 0 auto;
}

#homeIMG {
	width: 80%;
}

button {
	background-color: lightgray;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
	padding: 5px 7px;
	border-radius: 5px;
}

.hidden {
	display: none;
}

form {
	text-align: left;
	margin-bottom: 50px;
}

#submitAnswer {
	float:left;
	background-color: lightgray;
	font-weight: bold;
	font-size: 15px;
	padding: 5px 7px;
	border-radius: 5px;
	cursor: pointer;
}

.questionInfo {
	float: right;
	font-size: 3vw;
	padding: 5px;
}

#feedback {
	font-size: 3vw;
	margin: auto;
}

.buttonFeedback {
	font-size: 15px;
	margin-top: 20px;
}

#imgFeedback {
	width: 80%;
}

#finalResults {
	margin: 0 auto;
	width: 90%;
}

#resultsImage {
	width: 100%;
	margin-bottom: 20px;
}

@media only screen and (min-width: 640px) {

  header {
  	font-size: 35px;
  }

  .quizContainer {
	  font-size: 25px;
	  padding: 40px 40px 40px 40px;
  }

  span {
	  font-size: 25px;
  }

  .questionText {
	  font-size: 25px;
  }

  .questionInfo span {
	  font-size: 20px;
  }

  #homeIMG {
	width: 350px;
	height: 300px;
  }
  
  #quizCard {
	font-size: 2vw;
	width: 100%;
  }
 
  button {
  	font-size: 20px;
  }

  #submitAnswer {
  	font-size: 2vw;
  }

  input {
	  cursor: pointer;
	  font-size: 15px;
  }

  #start {
	  display: block;
	  margin: 10px auto;
  }

  li a {
	  color: white;
	  text-decoration: none;
  }

  li a:hover {
	  text-decoration: underline;
  }

  footer {
	  color: white;
  }

  footer ul {
	  list-style-type: none;
	  padding-left: 0px;
  }

  footer li {
	  display: inline;
	  padding: 0px 10px;
  }

  .questionInfo {
  	font-size: 2vw;
  }

  #feedback {
  	font-size: 25px;
  }

  .buttonFeedback {
  	font-size: 25px;
  }

  #imgFeedback {
	width: 400px;
	height: 300px;
  }

}
